# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.next/
.turbo/
*.tsbuildinfo

# env & secrets
.env
.env.local
.env.*.local
apps/worker/.dev.vars

# wrangler
.wrangler/
apps/worker/.wrangler/

# OS / IDE
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
pnpm-debug.log*
